/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: rgb(62, 62, 62);
}
.custom-navbar, .custom-footer {
    background-color: black !important;
    
}

.custom-footer h5{
    color: black !important;
    -webkit-text-stroke: 1px gold;
}

.custom-link {
    color: black !important;
    -webkit-text-stroke: 1px yellow;
    font-weight: bold;
    font-size: 25px;
}

.btn-navbar{
    background-color: transparent;
    color: black;
    -webkit-text-stroke: 1px yellow;
    border: none;
    margin-top: 10px;
    font-size: 25px;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #111;
}

.btn-group-category{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
}

.btn-category{
    border: solid yellow 1px;
    width: 500px;
    height: 60px;
    margin: 10px 0 0 5px;
    text-align: start;
    font-size: 30px;
    background-color: #111;
    color: yellow;
    border-radius: 10px;
}
